<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>CSCI5308 - Group Formation Tool</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<h4 th:inline="text">BannerID:
			[[${#httpServletRequest.remoteUser}]]</h4>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<p>
		<a th:href="@{/question/add}">Add Question</a>
	</p>
	<table border="1">
		<thead>
			<tr>
				<th>Question ID</th>
				<th><a
					th:href="@{/question/questionmanager/title(bannerID=${#httpServletRequest.remoteUser})}">Title</a></th>
				<th>Text</th>
				<th>Type</th>
				<th><a
					th:href="@{/question/questionmanager/date(bannerID=${#httpServletRequest.remoteUser})}">Created</a></th>
				<th>Action</th>
			</tr>
			<tr th:each="val: ${questionList}">
				<td><span th:text="${val.id}"></span></td>
				<td><span th:text="${val.title}"></span></td>
				<td><span th:text="${val.text}"></span></td>
				<td><span th:text="${val.type}"></span></td>
				<td><span th:text="${val.timestamp}"></span></td>
				<td>
					<form th:action="@{/question/delete}" method="POST">
						<input type="hidden" name="id" id="id" th:value="${val.id}" /> <input
							type="hidden" name="bannerID" id="bannerID"
							th:value="${#httpServletRequest.remoteUser}" />
						<button
							onclick="return confirm('Are you sure you want to delete this question?')"
							type="submit">Delete</button>
					</form>
				</td>
			<tr>
	</table>
</body>
</html>