<!DOCTYPE html>
<html>
<head>
<title>CSCI5308 - Group Formation Tool</title>
</head>
<body>
	<!-- I got the idea for how to do this from https://www.thymeleaf.org/doc/articles/springsecurity.html -->
	<div sec:authorize="isAuthenticated()">
		<h4 th:inline="text">BannerID:
			[[${#httpServletRequest.remoteUser}]]</h4>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<table border="1">
		<thead>
			<tr>
				<th>Group Number</th>
				<th>BannerID</th>
			</tr>
			<tr th:each="val: ${groups.entrySet()}">
				<td><span th:text="${val.key}"></span></td>
				<td><span th:text="${val.value}"></span></td>
			</tr>
	</table>
</body>
</html>