<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<title>CSCI5308 - Group Formation Tool</title>
	</head>
	<body>
		<!-- I got the idea for how to do this from https://www.thymeleaf.org/doc/articles/springsecurity.html -->
	  	<div sec:authorize="isAuthenticated()">
	       <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
	       <form th:action="@{/logout}" method="post">
	           <input type="submit" value="Sign Out"/>
	       </form>
		</div>
		<h1 th:text="'Course: ' + ${course.title}">Course: Title Not Found</h1>
		<div th:if="${instructor} or ${ta}">
			<br/>
			<a th:href="@{/course/instructoradmin(id=${course.id})}">Course Administration</a>
			<a th:href="@{/survey/questions(courseID=${course.id}, bannerID=${#httpServletRequest.remoteUser})}">Edit Survey</a>
		</div>
		<div th:if="${instructor} or (${surveyStatus == 1} and ${student})">
			<br/>
			<a th:href="@{/survey/response/start(courseID=${course.id}, bannerID=${#httpServletRequest.remoteUser})}">Give Survey</a>
		</div>
		<div th:if="${instructor}">
			<br/>
			<a th:href="@{/question/questionmanager/title(bannerID=${#httpServletRequest.remoteUser})}">Question Manager</a>
			<a th:href="@{/survey/group/criteria(courseID=${course.id}, bannerID=${#httpServletRequest.remoteUser})}">Form Groups</a>
		</div>
	</body>
</html>