<!--
	I've taken this concept from this URL:
	https://www.logicbig.com/tutorials/spring-framework/spring-boot/custom-thymeleaf-error-page.html
	
	The idea here is that uncaught exceptions in the system should redirect automatically to this
	page and show the stack trace. Later, when we learn error handling and logging I will log
	the stack trace, not display it to the user.  It is a security risk to display too much
	information about your system to the user when errors happen.
 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Normalize.css by Nicolas Gallagher, used from https://necolas.github.io/normalize.css/ 
	Necessary to reset some default browser styles for consistent appearance across browsers. -->
	<link th:href="@{/styles/cssandjs/normalize.css}" rel="stylesheet" />

	<!-- This file includes all default styles for this application. -->
	<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />

	<!-- This file includes all default styles for this application. -->
	<link th:href="@{/styles/cssandjs/errorstyles.css}" rel="stylesheet" />
</head>
<body class="bodyGridContainer">
	<header class="bodyGridRow headerGridContainer">
		<h1>CSCI5308 Group Formation Tool</h1>
	</header>
	<main class="bodyGridRow mainGridContainer">
		<aside class="mainGridRow welcomeInfoBox">
			<h2 class="errorInfo">Oops, something went wrong!</h2>
		</aside>
		
		<table>
			<tr>
				<td>Date</td>
				<td th:text="${timestamp}"/>
			</tr>
			<tr>
				<td>Path</td>
				<td th:text="${path}"/>
			</tr>
			<tr>
				<td>Error</td>
				<td th:text="${error}"/>
			</tr>
			<tr>
				<td>Status</td>
				<td th:text="${status}"/>
			</tr>
			<tr>
				<td>Message</td>
				<td th:text="${message}"/>
			</tr>
			<tr>
				<td>Exception</td>
				<td th:text="${exception}"/>
			</tr>
			<tr>
				<td>Trace</td>
				<td>
					<pre th:text="${trace}"/>
				</td>
			</tr>
		</table>
	</main>
	<footer class="bodyGridRow footerGridContainer">
		<p><strong>CSCI5308 (Advanced Topics in Software Development)</strong> is a graduate course offered for students enrolled in the <a href="https://www.dal.ca/macs" target="_blank">Master of Applied Computer Science (MACS)</a> at the <a href="https://www.dal.ca/cs" target="_blank">Faculty of Computer Science</a>, <a href="https://www.dal.ca" target="_blank">Dalhousie University</a>.</p>
</footer>
</body>
</html>