<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
	<title>CSCI5308 Group Formation Tool - Login page</title>
	<!-- Normalize.css by Nicolas Gallagher, used from https://necolas.github.io/normalize.css/ 
	Necessary to reset some default browser styles for consistent appearance across browsers. -->
	<link th:href="@{/styles/cssandjs/normalize.css}" rel="stylesheet" />

	<!-- This file includes all default styles for this application. -->
	<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>  
<body class="bodyGridContainer">
	<header class="bodyGridRow headerGridContainer">
		<h1>CSCI5308 Group Formation Tool</h1>
	</header>
	<main class="bodyGridRow mainGridContainer">
		<aside class="mainGridRow welcomeInfoBox">
			<h2>Welcome to the group formation tool, please sign in.</h2>
		</aside>

		<div class="mainGridCentreInfoBox" th:if="${param.error}">
			<p class="errorInfo">Invalid Banner ID or password.</p>
		</div>
		<div class="mainGridCentreInfoBox" th:if="${param.logout}">
			<p class="confirmation">You have been logged out.</p>
		</div>
		<div class="mainGridCentreCard">
			<form class="regnLoginGridContainer" th:action="@{/login}" method="post">
				<label class="regnLoginGridLeftCol" for="lBannerInput"> Banner ID:</label> 
				<input id="lBannerInput" class="regnLoginGridRightCol" type="text" name="username"/>
				<label class="regnLoginGridLeftCol" for="lPswdInput"> Password:</label> 
				<input id="lPswdInput" class="regnLoginGridRightCol" type="password" name="password"/>
				<input class="regnLoginGridRightCol" type="submit" value="Log In"/>
			</form>
		</div>
		<a class="signupLogin mainGridRow mainGridCentreCard" th:href="@{signup}">Are you a new user? Click here to sign up!</a>
	</main>
	<footer class="bodyGridRow footerGridContainer">
		<p><strong>CSCI5308 (Advanced Topics in Software Development)</strong> is a graduate course offered for students enrolled in the <a href="https://www.dal.ca/macs" target="_blank">Master of Applied Computer Science (MACS)</a> at the <a href="https://www.dal.ca/cs" target="_blank">Faculty of Computer Science</a>, <a href="https://www.dal.ca" target="_blank">Dalhousie University</a>.</p>
</footer>
</body>  
</html>